@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== 전역 최소 설정 (레이아웃 방해 X) ===== */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
